.planelist-plane {
  width: 60%;
  height: 13%;
  margin-left: 13px;
  background: white;
  overflow-y: hidden;
  font-size: 14%;
  overflow-x: hidden;
}

.planelist {
  position: absolute;
  width: 14%;
  height: 74.8%;
}

.planesbuttons {
  height: 20%;
  width: 20%;
  margin-top: 5%;
  margin-left: 14%;
  margin-bottom: 11%;
}